<img src="../../../assets/bg-home.svg" class="rotate-90 z-10 absolute w-full top-0 left-0 h-full object-cover" id="img" />
<div class="w-full h-full flex flex-col items-center justify-center  ">
  <!-- <h1 class="sm:text-9xl texte-7xl z-20 pt-16 "    style="font-family: Bubblegum Sans, serif">Skulili Quiz</h1> -->
  <h1 class="sm:pb-1 relative sm:text-9xl text-8xl font-light tracking-wider select-none z-20 text-center" style="font-family: Bubblegum Sans, serif">
    Skulili Quiz
  </h1>
  <div class="w-full h-full flex flex-col  items-center">
    <div class="text-center z-20">
      <nb-card class="max-w-full mt-2 sm:mt-20">
        <nb-card-header class="text-2xl" style="font-family: Roboto">Classement</nb-card-header>
        <nb-card-body class="bg-noir cardbody">
          <div *ngIf="isLoaded">
            <ol>
              <li *ngFor="let joueur of tabJoueur;let i = index" class="grid grid-cols-2 space-x-20 sm:texte-xl" style="font-family: Roboto">
                <div class="text-left">{{classement[i]}}. {{joueur.user}}</div>
                <div class="text-right">{{joueur.score}} points </div>
              </li>
            </ol>
          </div>
          <div *ngIf="!isLoaded" class="flex items-center cardbody justify-center ">
            <app-loader></app-loader>
          </div>
        </nb-card-body>
        <nb-card-footer class=" h-full space-x-10">
          <button nbButton outline status="success" (click)="goToLobby()">REPLAY</button>
          <button nbButton outline (click)="disconnect()" status="danger">LEAVE</button>
        </nb-card-footer>
      </nb-card>
    </div>
  </div>
</div>
