<div class="flex justify-center items-center w-full">
  <p class="mx-2 text-lg w-1/2 text-right">{{name}} : <span *ngIf="value<10">&#xA0;&#xA0;</span>{{value}}</p>
  <input #input  (input)="changeValue(input.value)" (mouseup)="changeValueToServer(input.value)" [value]="+value" class="slider w-1/2" id="myRange" [max]="max" [min]="min" type="range">
</div>
