<div class=" h-full flex flex-col justify-center items-center">
  <h1 (click)="goToHome()" class="relative sm:bottom-16 bottom-2 sm:mt-4 font-light md:text-9xl text-8xl md:m-4 tracking-wider select-none text-center" style="font-family: Bubblegum Sans, serif">
    Skulili Quiz
  </h1>
  <div class="flex justify-center items-center flex-wrap-reverse" [ngClass]="{'flex-wrap' : fullScreen }">
    <!-- responsive -->
    <form [formGroup]="createRoomForm" (ngSubmit)="addRoom()">
      <nb-card class="text-center  max-w-96" [ngClass]="{'mx-20' : fullScreen }">
        <nb-card-header class="text-2xl">Créer</nb-card-header>

        <nb-card-body class="bg-noir">
          <input type="text" nbInput status="primary" placeholder="Nom de la partie" class="sm:m-10 m-6" formControlName="roomNameCreate">
          <!---<input _ngcontent-ihl-c85="" type="text" nbinput="" fullwidth="" status="primary" placeholder="Fichier question.json à charger " class="mb-10 place-content-center input-full-width size-medium status-primary shape-rectangle nb-transition">--->
        </nb-card-body>

        <nb-card-footer>
          <button nbButton outline status="success" [disabled]="createRoomForm.invalid">Create</button>
        </nb-card-footer>
      </nb-card>
    </form>
    <form [formGroup]="joinRoomForm" (ngSubmit)="joinRoom()">
      <nb-card class="text-center mx-20  max-w-96" [ngClass]="{'mx-20' : fullScreen }">
        <nb-card-header class="text-2xl">Rejoindre</nb-card-header>
        <nb-card-body class=" bg-noir">
          <input type="text" nbInput status="primary" placeholder="Clé de la partie" class="sm:m-10 m-6" formControlName="roomNameJoin">
        </nb-card-body>
        <nb-card-footer class="">
          <button nbButton outline status="success" [disabled]="joinRoomForm.invalid">Join</button>
        </nb-card-footer>
      </nb-card>
    </form>
  </div>
</div>

<div class="ban bottom-0 inset-x-0 z-20 absolute justify-center flex w-full">
  <nb-alert @anim status="danger" *ngIf="hasMaxPlayer">Désolé, il y a trop de joueur dans cette room.</nb-alert>
</div>
