<img alt="background svg" class="z-10 absolute w-full top-0 left-0 h-full object-cover" id="img" src="../../../assets/bg-home.svg"/>
<div class="w-full h-full flex flex-col items-center justify-center">
  <h1 class="pb-1 relative sm:bottom-16 bottom-8 sm:text-9xl text-8xl font-light tracking-wider select-none z-20 text-center" style="font-family: Bubblegum Sans, serif">
    Skulili Quiz
  </h1>
  <p class="mb-4 opacity-50 relative sm:bottom-16 bottom-8 z-20">Fait par 5 super gars</p>
  <div class="z-20 w-full flex items-center justify-center">
    <form (ngSubmit)="addUser()" [formGroup]="pseudoForm">
      <nb-card class="w-max text-center shadow-lg">
        <nb-card-body>
          <input [status]="name!.errors ? 'danger' : 'success' " autocomplete="off" class="form-control" formControlName="pseudo" id="pseudo" nbInput required type="text">

          <div *ngIf="name!.invalid && (name!.dirty || name!.touched)" class="alert alert-danger pt-2">

            <div *ngIf="name!.errors?.['required']" class="redError">
              <p class="text-center">
                Il faut un pseudo... <br> <span class="text-3xl">😐</span>
              </p>
            </div>
            <div *ngIf="name!.errors?.['minlength']" class="redError">
              Il faut au moins 3 lettres.
            </div>
            <div *ngIf="name!.errors?.['maxlength']" class="redError">
              Il faut 15 lettres max.
            </div>
            <div *ngIf="name!.errors?.['pattern']" class="redError">
              Le pseudo ne peut pas contenir d'espace.
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer class="flex justify-between">
          <button #toDo [disabled]="pseudoForm.invalid" nbButton outline status="success" type="submit"> Play</button>
          <button (click)="goToCreateQuizz()" nbButton outline status="info">Create Quizz</button>

        </nb-card-footer>
      </nb-card>
    </form>
  </div>
</div>
