<div class=" h-full flex justify-center items-center">
  <h1 (click)="goToHome()" class="absolute top-2 w-3/4 text-center lg:text-left lg:left-2 mb-2 mx-2" style="font-family: Bubblegum Sans, serif"> Skulili Quiz</h1>
  <div class="flex justify-between sm:items-center flex-col sm:w-3/4 w-full h-full">
    <div *ngIf="!fullScreen" class="temp"></div>
    <app-question [indexQuestion]="actualQuestion.indexQuestion" [question]="actualQuestion.question" [time]="time" [url]="actualQuestion.url" class="content 2xl:w-3/4 w-full"></app-question>
    <div class="2xl:w-3/4 w-full">
      <app-stats *ngIf="showStat" [bonneReponse]="bonneReponse" [mauvaisReponse]="mauvaisReponse" class="w-full shadow-lg"></app-stats>
      <app-answer (reponseindex)="onResponseIndex($event)" [choix]="actualQuestion.choix" class="content w-full"></app-answer>
    </div>
  </div>
</div>
