@media (min-width: 768px) {
  .grideDeFou {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    //grid-template-rows: repeat(2, 0.5fr);
  }

  .joueurs {
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
  }
}

//@media (max-width: 767px) {
//  .grideDeFou {
//    margin-top: 3rem;
//  }
//}
