<div *ngIf="isLoaded">
  <div class="absolute top-2 w-4/5">
    <div class="flex justify-between items-center w-full ">
      <h1 (click)="goToHome()" style="font-family: Bubblegum Sans, serif"> Skulili Quiz</h1>
      <p *ngIf="!fullScreen" class="text-xl">Id : <span class="font-bold">{{roomId}}</span></p>
    </div>
  </div>

  <div [ngClass]="fullScreen?'items-center' : 'items-start'" class="flex justify-center h-full ">
    <div class="grideDeFou xl:gap-20 md:gap-10">
      <div class="w-full min-w-min h-full joueurs ">
        <app-joueurs [host]="host" [isReady]="isReady" [params]="params" [users]="users"></app-joueurs>
      </div>
      <div [ngClass]="{'h-1/2' : fullScreen}" class="w-full min-w-min ">
        <app-options (ready)="toggleReady()" [isAllReady]="isAllReady" [isHost]="isHost" [params]="params"></app-options>
      </div>


      <div *ngIf="fullScreen" class="flex flex-col items-center">
        <p [cdkCopyToClipboard]="roomId" class="text-xl flex items-center justify-center cursor-pointer">Id de la partie :
          <span class="font-bold">{{roomId}}</span>
          <nb-icon class="text-2xl mx-2" icon="copy-outline" status="info"></nb-icon>
        </p>
        <br>
        <button (click)="start()" *ngIf="isHost && isAllReady" class="shadow" nbButton outline size="giant" status="success">Start</button>
        <button (click)="toggleReady()" *ngIf="!(isHost && isAllReady)" [status]="(isReady)?'success':'danger'" class="shadow" nbButton outline size="giant">{{(isReady) ? 'Ready' : 'Not ready'}}</button>
      </div>
    </div>
  </div>
</div>


<div *ngIf="!isLoaded" class="h-full flex items-center justify-center">
  <div>
    <app-loader></app-loader>
  </div>
</div>
