<nb-card class="pt-1 mb-0 heigthdefou">
  <nb-card-header class="flex flex-col">
    <div class="flex justify-between">
      <label [@placeholder]="typing" class="mb-2 h-2 animationLabel font-medium base" for="title">Question</label>
      <nb-icon icon="close-outline" status="danger" class="cursor-pointer" style="position: relative; bottom: 10px; left: 15px" (click)="onDeleteQuestion()"></nb-icon>
    </div>
    <input #title (blur)="onBlur(title)" (focus)="onFocus()" (keyup)="question.labelle = title.value" fullWidth id="title" nbInput status="info"/>
    <input #url (keyup)="question.url = url.value" class="mt-4" fullWidth id="url" nbInput placeholder="Image url" status="info"/>
  </nb-card-header>
  <nb-card-body>
    <div class="flex justify-between">
      <p>Réponses</p>
      <p>Bonne réponse</p>
    </div>
    <div class="flex">

      <div>
        <input #reponse1 (keyup)="question.reponses[0].labelle = reponse1.value" class="mt-4" fullWidth id="1" nbInput placeholder="Réponse 1" status="primary"/>
        <input #reponse2 (keyup)="question.reponses[1].labelle = reponse2.value" class="mt-4" fullWidth id="2" nbInput placeholder="Réponse 2" status="primary"/>
        <input #reponse3 (keyup)="question.reponses[2].labelle = reponse3.value" class="mt-4" fullWidth id="3" nbInput placeholder="Réponse 3" status="primary"/>
        <input #reponse4 (keyup)="question.reponses[3].labelle = reponse4.value" class="mt-4" fullWidth id="4" nbInput placeholder="Réponse 4" status="primary"/>
      </div>

      <nb-radio-group class="flex flex-col ml-4">
        <nb-radio (click)="onGoodAnswerChange(0)" [value]="1" class="mt-4" style="height: 40px"></nb-radio>
        <nb-radio (click)="onGoodAnswerChange(1)" [value]="2" class="mt-4" style="height: 40px"></nb-radio>
        <nb-radio (click)="onGoodAnswerChange(2)" [value]="3" class="mt-4" style="height: 40px"></nb-radio>
        <nb-radio (click)="onGoodAnswerChange(3)" [value]="4" class="mt-4" style="height: 40px"></nb-radio>
      </nb-radio-group>

    </div>
  </nb-card-body>
</nb-card>
