<div class="m-0 p-0 w-full flex flex-row">
  <p *ngIf="verify(bonneReponse)" [ngClass]="(bonneReponse === 100) ? 'rounded-xl' : 'rounded-bl-xl rounded-tl-xl'  " [style]="'width : ' + bonneReponse + '%'" class="text-center bonneReponse align-middle text-xl">{{ bonneReponse }}%</p>
  <p *ngIf="verify(mauvaisReponse)" [ngClass]="(mauvaisReponse === 100) ? 'rounded-xl' : 'rounded-tr-xl rounded-br-xl'" [style]="'width : ' + mauvaisReponse + '%'" class="text-center mauvaiseReponse align-middle text-xl">{{ mauvaisReponse }}%</p>
</div>

