<div class="absolute top-2">
  <div class="flex justify-between items-center cursor-pointer ">
    <h1 (click)="goToHome()" style="font-family: Bubblegum Sans, serif"> Skulili Quiz</h1>
  </div>
</div>

<div class="flex flex-end flex-wrap mt-4 sm:justify-start justify-center ">
  <div *ngFor="let question of questions; let i = index" [@superAnime]="'in'" class="w-1/6 mx-2 mt-2">
    <app-question-card (deleteQuestion)="onDeleteQuestion(question)" [question]="question"></app-question-card>
  </div>
  <div class="w-full flex flex-col items-center gap-2">
    <div class="flex gap-2 sm:flex-row flex-col">
      <button (click)="onAddQuestion()" class="animBouton" nbButton outline status="success">Add Question</button>
      <button (click)="onRmAllQuestions()" class="animBouton" nbButton outline status="danger">Remove all</button>
    </div>
    <a [href]="onExport()" class="no-underline" [download]="downloadTitle()" title="Download JSON">
      <button class="no-underline" nbButton status="info" outline>Save</button>
    </a>
  </div>
</div>

