<nb-card class="rounded-xl taille mt-4">
  <nb-card-body class="rounded-xl bg-noir shadow-2xl bg-slate-900 w-full flex flex-col h-full">
    <div class=" w-full flex justify-center flex-wrap items-center h-full">
      <div *ngFor=" let answer of choix;let i=index" class="sm:w-1/2 w-full laTaille flex items-center justify-center h-full">
        <button class="answerButton buttonGlobal" [ngStyle]="{'background-color': wichColor[i] }" [disabled]="showStat ? true : null" (click)="onAnswer(i)">
          {{choix[i].labelle}}
        </button>
<!--        <button *ngIf="afficheReponse" class="answerButton buttonGlobal nonClique" disabled [ngStyle]="{'background-color': onStat(i)}"> {{choix[i].labelle}}</button>-->
      </div>
    </div>
  </nb-card-body>
</nb-card>


