@use '../../../../../themes.scss' as *;

.bg-noir {
  background-color: nb-theme(color-basic-1100);
}

.answerButton {
  min-width: 50px;

  height: 80%;
  max-height: 80px;

  white-space: normal !important;
}

.buttonGlobal {

  border-radius: 0.5rem;
  cursor: pointer;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  border: 1px solid rgb(51, 102, 255, 0.5);
}

.nonClique {
  background-color: nb-theme(color-primary-500);
}

.clique {
  //background-color: rgb(51, 102, 255, 0.1);
  //color: rgb(51, 102, 255, 0.8);
  border: 1px solid rgb(51, 102, 255, 0.5);
}

@media (min-width: 701px) {
  .laTaille {
    height: 50%;
  }

  .answerButton {
    width: 85%;
  }

  nb-card-body {
    padding: 1rem;
  }
}

@media (max-width: 700px) {
  .laTaille {
    height: 25%;
  }

  .answerButton {
    width: 98%;
  }

  nb-card {
    margin: 0.2rem;
  }

  nb-card-body {
    padding: 0.2rem 0.5rem;
  }
}


.taille {
  min-height: 300px;
  height: 50%;
}
