<div class="maHauteur">
  <nb-card class="shadow-2xl rounded-lg">
    <nb-card-body class="bg-slate-600">
      <div class="flex justify-start items-center flex-col w-full">
        <div class="w-full flex items-center items-start mx-4 flex-col sm:mb-4 mb-2 ">
          <div class="flex justify-between w-full">
            <p class="text-lg sm:text-xl">{{indexQuestion}}</p>
            <p class="text-lg sm:text-xl">{{time}}</p>
          </div>
          <div class="w-full justify-center mb-2">
            <p class="text-center sm:text-3xl text-xl break-words ">{{question}}</p>
          </div>
        </div>
        <img class="aspect-video shadow-xl bg-cover mx-auto image" src={{url}}>
      </div>
    </nb-card-body>
  </nb-card>
</div>
