.image {
  min-width: 150px;
  max-height: 30vh;
}

nb-card {
  min-height: 40vh;
}

@media (max-width: 700px) {
  nb-card {
    margin: 0;
  }

  nb-card {
    min-height: 40vh;
  }

  .maHauteur {
    height: 57vh;
  }

  nb-card-body {
    padding: 0.3rem 0.5rem;
  }

  .image {
    max-height: 150px;
  }
}
