<nb-layout>
  <nb-layout-column>
    <router-outlet></router-outlet>
    <div class="ban bottom-5 z-20 justify-center flex w-full">
      <nb-alert @anim status="danger" *ngIf="isBanned">Vous avez été expulsé de la partie</nb-alert>
    </div>
  </nb-layout-column>
</nb-layout>
