<nb-card [ngClass]="{'mobileCard' : !fullScreen}" class="mb-2 shadow" style="max-height: 80vh;">

  <nb-card-header class="flex justify-between">
    <p class="md:text-2xl text-lg">Options : </p>
  </nb-card-header>


  <nb-card-body class="bg-noir ">

    <div *ngIf="isHost">
      <div class="flex justify-center flex-col items-center mb-2">
        <app-options-bar (changedValue)="onPlayersChange($event)" [max]="20" [min]="2" [name]="'Joueurs'" [value]="params.nbPlayers" class="w-5/6"></app-options-bar>
        <app-options-bar (changedValue)="onQuestionsChange($event)" *ngIf="!jsonIsImported" [max]="20" [min]="2" [name]="'Questions'" [value]="params.nbQuestions" class="w-5/6"></app-options-bar>
        <app-options-bar (changedValue)="onTimesChange($event)" [max]="15" [min]="2" [name]="'Temps'" [value]="params.nbTimes" class="w-5/6"></app-options-bar>
      </div>

      <div *ngIf="!jsonIsImported" class="w-full flex flex-col items-center justify-center">
        <div class="w-5/6 flex justify-center items-center">
          <p class="w-1/2 text-lg text-right mx-2">Thèmes : ({{themes.length}})</p>
          <div class="w-1/2">&#xA0;&#xA0;</div>
        </div>
        <div class="flex justify-center w-full flex-col flex-1 flex-wrap" style="max-height: 50vh;">
          <div *ngFor="let theme of themes" class="w-1/2 mt-2 mx-auto ">
            <nb-checkbox (change)="onThemeChange(theme)" [checked]="isChecked(theme)" class="mx-2" status="success">{{theme | titlecase}}</nb-checkbox>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!isHost">
      <div class="flex justify-around flex-col items-center mb-2 flex-wrap mx-auto content-center" style="max-height: 15vh;">
        <div class="w-1/2 mt-2 mx-2">
          <p class="text-lg text-right">Joueurs :</p>
          <p class="text-lg text-right">Questions :</p>
          <p class="text-lg text-right">Temps :</p>
        </div>
        <div class="w-1/3 mt-2">
          <p class="text-lg"><span *ngIf="params.nbPlayers<10">&#xA0;&#xA0;</span>{{params.nbPlayers}}</p>
          <p class="text-lg"><span *ngIf="params.nbQuestions<10">&#xA0;&#xA0;</span>{{params.nbQuestions}}</p>
          <p class="text-lg"><span *ngIf="params.nbTimes<10">&#xA0;&#xA0;</span>{{params.nbTimes}}</p>
        </div>
      </div>

      <div>
        <p>Thèmes : ({{params.themes.length}})</p>
        <p *ngFor="let theme of params.themes;" class="mx-4">{{theme | titlecase}}</p>
      </div>
    </div>
  </nb-card-body>


  <nb-card-footer class="flex justify-around">

    <button class="padd " *ngIf="fullScreen && isHost" [status]="messageTab[1]" nbButton outline size="large">
      <input (change)="importJson($event)" accept="application/json" class="file-upload" id="inputFile" type="file">
      <label for="inputFile" class="h-8 leading-loose cursor-pointer">
        {{messageTab[0]}}
      </label>
    </button>

    <button (click)="toggleReady()" *ngIf="!fullScreen && !(isHost && isAllReady)" [status]="(isReady)?'success':'danger'" nbButton outline size="large">{{(isReady) ? 'Ready' : 'Not ready'}}</button>
    <button (click)="start()" *ngIf="!fullScreen && isHost && isAllReady" class="shadow" nbButton outline size="giant" status="success">Start</button>
    <button *ngIf="!fullScreen" nbButton outline size="large" status="danger">Leave</button>
  </nb-card-footer>
</nb-card>
