@use '../../../../../themes.scss' as *;

.bg-noir {
  background-color: nb-theme(color-basic-1100);
}

.mobileCard {
  min-height: 300px;
  max-height: 350px;
}

.file-upload{
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.padd{
  padding : 0 0.5rem!important;

}
